/* Global styles */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
}

.header, .footer {
    background-color: #00838F;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 130%;
}

/* Container and layout */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-block {
    background-color: #EFEFEF;
    width: 55%;
    padding: 20px;
}

.left-block:first-child {
    height: 150px;
}

.left-block:nth-child(2) {
    height: 300px;
}

.right-block {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    padding: 20px;
}

.right-block img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 7px DimGray;
    margin: 20px;
}

/* Table styles */
.table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

.table th, .table td {
    border: 1px solid #4FB3BF;
    padding: 4px;
    text-align: left;
}

.table th {
    background-color: #b2dfdb;
}

.table tr:hover {
    background-color: #4FB3BF;
}

/* Links */
.download-link {
    margin-top: 10px;
    display: block;
}

/* Footer */
.footer {
    font-size: 130%;
}