* {
    margin: 0px;
}

.gora {
    background-color: #2e8a57;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: #f5fef9;
}

img {
    
    height: 250px;
    transform: scale(-1, 1);
}

.shadow {
    padding: 0px;
    box-shadow: 10px 10px 10px gray;
}

.stroke {
    display: flex;
}

.niz {
    margin-top: 90px;
    height: 100px;
    color: #f5fef9;
    background-color: #2e8a57;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center {
    padding-top: 40px;
    margin-left: 40px;
}

body {
    margin-top: -5px;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#buton {
    background-color: #f5fef9;
    color: #2e8a57;
}