
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}


.block_gorny {
    display: flex;
    width: 100%;
    align-items: center;
}

.lewy,
.prawy {
    background-color: rgb(95, 158, 160);
    color: yellow;
    width: 20%;
    height: 90px;
    text-align: right;
    
}

.srodkowy {
    background-color: rgb(95, 158, 160);
    color: yellow;
    width: 60%;
    height: 90px;
    display: flex;

    justify-content: center;
}

/* Bloki środkowe */
.srodek {
    display: flex;
    width: 100%;
}

.block_levy,
.block_prawy {
    background-color: rgb(175, 238, 238);
    width: 50%;
    height: 250px;
}

/* Obrazy */
.logo-img {
    height: 90px;
    width: auto;
}

.map-img {
    height: 250px;
    width: auto;
}

/* Główny blok */
.glowny {
    background-color: rgb(95, 158, 160);
    padding: 30px;
}

/* Stopka */
.stopka {
    background-color: rgb(175, 238, 238);
    padding: 10px;
}

/* Tabela */
table {
    border: 2px dotted green;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px dotted green;
    padding: 6px 8px;
    text-align: left;
}

#naglowek {
    background-color: green;
}

#naglowek th {
    color: yellow;
}
