#gluwa {
    display: flex;
    justify-content: center;
}

#gluwna {
    
    justify-content: center;
    display: flex;
    align-items: center;
}

#gluwna2 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#butons {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}


#example {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
 
body{
    color:orange;
    background-color: rgb(0, 0, 0);
}
