* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#bbbfc7, #005eff);
    height: 100vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    border-radius: 5px
}
button{
    border-radius: 5px;
    background-color: #005eff;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: black;
    transition: 0.3s ease;
}
.ball {
    margin-right: 100px;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: -1;
    animation: moveBall 2s infinite alternate;
}
@keyframes moveBall{
    from{ top: 0;}
    to{top: calc(100vh - 100px)};
