
:root {
    --dark: #454545;
    --light: #d5d5d5;
}

body {
    overflow: hidden;
    align-items: center;
    background: url(bg.webp);
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

div {

    margin-top: 15px;
}


form {
    opacity: 0.5;
    box-shadow: 0 10px 30px black;
    text-align: center;
    border-radius: 15px;
    width: 350px;
    height: 80px;

}


@keyframes moveBall {
    from {
        left: -500px;
    }

    to {
        left: 100vw;
    }

}

@keyframes moveBall2 {
    from {
        top: -500px;
    }

    to {
        top: 100vw;
    }

}

.ball {
    opacity: 0.5;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right top, var(--dark), var(--light));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall 10s infinite linear;
}

.ball2 {
    opacity: 0.5;
    left: 10%;
    width: 300px;
    height: 300px;
    background: linear-gradient(to right top, var(--dark), var(--light));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall2 20s infinite linear;
}

.line {
    border-radius: 20%;
    width: 80%;
    height: 3px;
    background: #fcfcff;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
p {
    font-size: 16px;
  }