
:root {
    --dark-blue: #bd6b73;
    --light-blue: #bbb6df;
}

body {
    overflow: hidden;
    align-items: center;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    display: flex;
    height: 100vh;
    justify-content: center;
}

div {

    margin-top: 15px;
}

.login {
    box-shadow: 0px 10px 30px black;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

.password {
    text-align: 20px;
    box-shadow: 0px 10px 30px black;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    box-shadow: 20%;
}

a {
    color: white;
    text-decoration: none;
}

button {
    width: 80px;
    height: 30px;
    box-shadow: 0 10px 30px black;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
    overflow: hidden;
    position: relative;
}
button::after {
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    content: '';
    height: 80px;
    left: -20px;
    position: absolute;
    top: 0px;
    transform: skewX(15deg);
    width: 20px;
    transition: transform 1s;
}

button:hover::after {
    transform: translateX(100px);
}

form {
    opacity: 0.5;
    box-shadow: 0 10px 30px black;
    text-align: center;
    border-radius: 15px;
    width: 350px;
    height: 300px;

}

.icon-user {
    color:  black;
}
.icon-key {
    color: black;
}

::placeholder {
    color: white;
    text-align: center;
}

@keyframes moveBall {
    from {
        left: -500px;
    }

    to {
        left: 100vw;
    }

}

@keyframes moveBall2 {
    from {
        top: -500px;
    }

    to {
        top: 100vw;
    }

}

.ball {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall 10s infinite linear;
}

.ball2 {
    left: 10%;
    width: 300px;
    height: 300px;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall2 20s infinite linear;
}

.line {
    border-radius: 20%;
    width: 80%;
    height: 3px;
    background: #fcfcff;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
.icon {
    width: 150px;
    height: 100px;
}

input:focus::placeholder {
    transition: transform 0.3s linear, opacity 0.3s linear;
    opacity: 0;
    transform: translateX(50px);
}
.user {
    width: 20px;
    height: 20px;
}
.lock {
    width: 20px;
    height: 20px;
}
