:root {
    --dark: #454545;
    --light: #d5d5d5;
}
body {
    
    overflow: hidden;
    align-items: center;    
    display: flex;
    justify-content: center;
}

.bg0{
    position: fixed; /* Обязательно для работы z-index */
    z-index: 0;
    background-color: #d5d5d5;
    width: 100%;
    height: 110%;
}
.bg1{
    position: absolute; /* Обязательно для работы z-index */
    z-index: 1;
    background: url(bg1.png);
    width: 1920px;
    height: 1080px;
}
.foreground{
    z-index: 3;
    margin-top: 30px;
    border-radius: 40px;
    position: absolute;
    opacity: 0.5;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height:350px;
}
.container{
    z-index: 4;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
}
div {
    margin-top: 15px;
}
.login {
    text-align: 20px;
    box-shadow: 0px 10px 30px black;
    background: black;
    border: 0px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    box-shadow: 20%;
}

#password {
    color: white;
    text-align: 20px;
    box-shadow: 0px 10px 30px black;
    background: black;
    border: 0px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    box-shadow: 20%;
}

#user {
    color: white;
    text-align: 20px;
    box-shadow: 0px 10px 30px black;
    background: black;
    border: 0px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    box-shadow: 20%;
}

button {
    width: 80px;
    height: 30px;
    box-shadow: 0 10px 30px black;
    border-radius: 15px;
    color: white;
    border: 0px solid black;
    overflow: hidden;
    position: relative;
}



button:hover::after {
    transform: translateX(100px);
}

form {
    opacity: 0.5;
    box-shadow: 0 10px 30px black;
    text-align: center;
    border-radius: 15px;
    width: 350px;
    height: 300px;

}

::placeholder {
    color: white;
    text-align: center;
}

@keyframes moveBall {
    from {
        left: -500px;
    }

    to {
        left: 100vw;
    }

}

@keyframes moveBall2 {
    from {
        top: -500px;
    }

    to {
        top: 100vw;
    }

}

.ball {
    opacity: 0.5;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right top, var(--dark), var(--light));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall 10s infinite linear;
}

.ball2 {
    opacity: 0.5;
    left: 10%;
    width: 300px;
    height: 300px;
    background: linear-gradient(to right top, var(--dark), var(--light));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall2 20s infinite linear;
}

.line {
    border-radius: 20%;
    width: 230px;
    height: 3px;
    background: #fcfcff;
}

.icon {
    width: 150px;
    height: 100px;
}

input:focus::placeholder {
    transition: transform 0.3s linear, opacity 0.3s linear;
    opacity: 0;
    transform: translateX(50px);
}