:root {
    --dark: #454545;
    --light: #d5d5d5;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    position: relative;
}

.bg0 {
    position: fixed;
    z-index: 0;
    background-color: var(--light);
    width: 100%;
    height: 100%;
}

.bg1 {
    position: fixed;
    z-index: 1;
    background: url(bg1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ball, .ball2 {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    background: linear-gradient(to right top, var(--dark), var(--light));
}

.ball {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: moveBall 10s infinite linear;
    z-index: 2;
}

.ball2 {
    width: 300px;
    height: 300px;
    top: 0;
    left: 10%;
    animation: moveBall2 20s infinite linear;
    z-index: 2;
}

.foreground {
    z-index: 3;
    border-radius: 40px;
    position: absolute;
    opacity: 0.5;
    background-color: white;
    width: 350px;
    height: 350px;
}

.container {

    z-index: 4;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
}

div {
    margin-top: 15px;
}

input, .login {
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    box-shadow: 0px 10px 30px black;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    box-shadow: 0 10px 30px black;
    border-radius: 15px;
    color: white;
    border: none;
    position: relative;
    background: black;
    cursor: pointer;
}

button:hover::after {
    transform: translateX(100px);
}

.line {
    border-radius: 20%;
    width: 230px;
    height: 3px;
    background: #fcfcff;
}

.icon {
    width: 150px;
    height: 100px;
}

input:focus::placeholder {
    transition: transform 0.3s linear, opacity 0.3s linear;
    opacity: 0;
    transform: translateX(50px);
}

::placeholder {
    color: white;
    text-align: center;
}

@keyframes moveBall {
    from { left: -500px; }
    to { left: 100vw; }
}

@keyframes moveBall2 {
    from { top: -500px; }
    to { top: 100vh; }
}
